<h1>Users</h1>
<button (click)="openModal('create')">Add user</button>

<table *ngIf="users">
  <tr *ngFor="let user of users">
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.phone }}</td>
    <td>{{ user.role }}</td>
    <td>{{ user.name }}</td>
    <td><button (click)="openModal('edit', user)">Edit</button> </td>
    <td><button (click)="openModal('remove', user)">Remove</button> </td>
  </tr>
</table>

<!--ul *ngIf="users">
  <li *ngFor="let user of users">
    <p>{{ user.id }} {{ user.username }} {{ user.phone }} {{ user.role }} {{ user.name }}</p>
  </li>
</ul-->


<div id="modal-container" class="modal">

  <div class="modal-content" id="modalContent">

    <img class="close" src="../assets/icons/Cruz_fechar.png">

    <div class="formContent">

    </div>
  </div>

</div>
